:root {
  --color-base-text: #000000;
  --color-gray-text: #cccccc;
  --color-pastel-text: #f53c3d;

  --color-base-bg: #fff;
  --color-sidebar-bg: #f8f8fc;

  --color-button-bg: #f53c3d;

  --box-shadow: 0 3px 10px rgba(28, 28, 28, 0.6);
  --border: 1px #dbdbdb solid;

}

body {
  margin: 0;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  color: var(--color-base-text);
  font-size: 16px;
}

.App {
  /* border: 1px red solid; */
  display: grid;
  grid-template-columns: 1fr 410px;
  grid-template-rows: 120px 3fr 7fr;
  grid-template-areas: 
    "Nav Sidebar"
    "Track-details Sidebar"
    "Track-list Sidebar";
  max-height: 150vh;
}

.inspiration {
  margin: 0 50px;
  font-family: 'Courier New', Courier, monospace
}

.inspiration h3 {
  font-size: 25px;
}

.inspiration p {
  font-size: 18px;
}

/* NAV---------------- */
.Nav {
  grid-area: Nav;
  margin: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  height: auto;
}

.nav-buttons {
  display: flex;
}

.nav-buttons > * {
  padding: 10px 20px;
  color: var(--color-gray-text);
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
}

.nav-buttons > *:hover {
  background-color: #fceeee;
}

.nav-buttons > *:hover > div {
  color: #f53c3d;
}

/* SIDEBAR---------------- */
.Sidebar {
  grid-area: Sidebar;
  background-color: var(--color-sidebar-bg);
  overflow-y: auto;
  border-radius: 30px;
  margin: 10px 30px;
  padding: 15px 10px;
}

.extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Sidebar::-webkit-scrollbar { width: 0 !important }

.profile {
  display: flex;
  margin: 15px 30px;
  align-items: center;
}

.Sidebar img {
  width: 60px;
  height: auto;
  border-radius: 10px;
  margin-right: 15px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 30px;
}

.stats > * {
  display: flex;
  align-items: center;
}

.stats img {
  width: 25px;
  height: auto;
}

.recc-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 30px;
}

.recc {
  display: flex;
}

.recc img {
  height: 40px;
  width: auto;
}

/* LOGIN---------------- */
.btn-spotify {
  background-color:#f53c3d;
  border-radius:28px;
  border: none;
  color:#ffffff;
  font-size:17px;
  padding:16px 31px;
}

.btn-spotify a {
  color:#fff;
  font-weight: 600;
}

.btn-spotify:active {
  position: relative;
  top:1px;
}

/* BLANK PAGE---------------- */
.BlankPage img {
  width: 300px;
  height: auto;
}

.BlankPage {
  /* border: 1px black solid; */
  margin: 0 50px;
  text-align: center;
}

.BlankPage p {
  font-weight: 600;
}

/* TRACK DETAILS---------------- */
.Track-details {
  grid-area: Track-details;
  margin: 0px 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.Track-details img {
  border-radius: 20px;
  height: 200px;
  width: auto;
}

.Track-details .details > * {
  margin: 10px;
}

.Track-details button {
  border: none;
  color: #fff;
  background-color: var(--color-button-bg);
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 10px 20px;
  border: 1px transparent solid;
}

.Track-details button:hover {
  background-color: #fff;
  border: 1px #f53c3d solid;
  color: #f53c3d;
}

.Track-details button:active {
  position: relative;
  top:1px;
}

.Track-details button:hover path {
  fill: #f53c3d;
}

/* TRACK LIST---------------- */
.Track-list {
  grid-area: Track-list;
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
}

.Track-list img {
  width: 40px;
  height: auto;
  border-radius: 10px;
  margin-right: 15px;
}

input[type="search"] {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.searchbox {
  margin-left: auto;
  display: flex;
  align-items: center;
  position: relative;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  text-align: start;
  color: #cccccc;
  font-weight: 600;
  font-size: 14px;
}

.info-on-hover {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 12px;
  font-weight: lighter;
  width: max-content;
  background-color: #cccccc;
  padding: 2px 5px;
  display: none;
}

.searchbox svg:hover + .info-on-hover {
  display: block;
}

tr, th {
  border-bottom: 1px #f8f8f8 solid;
}

th, td {
  padding: 10px;
}

th {
  text-align: start;
  color: #cccccc;
  font-weight: 600;
  font-size: 14px;
}

tr:last-of-type {
  border-bottom: none;
}

tr td:first-child {
  display: flex;
  align-items: center;
}

.current, tbody tr:hover {
  background-color: #fceeee;
}

.current, tbody tr:hover > td {
  color: #f53c3d;
}

.current {
  background-color: #fceeee;
  color: #f53c3d;
}

/* PLAYER---------------- */
.Player {
  margin: 0 auto;
  width: 1200px;
  margin-left: calc((100vw - 1200px)/2);
  position: fixed;
  bottom: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  height: 80px;
  background-color: #fceeee;
  display: flex;
}

.progress-bar-container {
  margin-left: calc((100vw - 1150px)/2);
  bottom: calc(90px - 5px);
  width: 1150px;
  height: 5px;
  position: fixed;
  z-index: 2;
}

.progress-bar {
  height: 100%;
  position: absolute;
  background-color: #f53c3d;
  border-radius: 5px;
}

.Player > * {
  width: 33%;
  display: flex;
  align-items: center;
}

.left-player img {
  width: 50px;
  height: auto;
  border-radius: 10px;
  margin-right: 10px;
}

.middle-player {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.right-player > svg {
  margin-left: auto;
}

/* MOODIFY---------------- */
.Moodify {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
}

.container {
  /* border: 1px blue solid; */
  display: flex;
  justify-content: center;
  gap: 10px;
}

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

video, #photo {
  width: 400px;
  height: 300px;
  border: 3px black solid;
  border-image: linear-gradient(#ffd89b, #19547b) 27;
}

canvas {
  visibility: hidden;
  position: fixed;
}

.moodify {
  border: none;
  color: #fff;
  background-color: var(--color-button-bg);
  border-radius: 15px;
  padding: 10px 20px;
  border: 1px transparent solid;
}

.moodify:hover {
  background-color: #fff;
  border: 1px #f53c3d solid;
  color: #f53c3d;
}

/* UTILS */
.gray {
  color: #c0c0c0;
}

a {
  text-decoration: none;
}

.supergray {
  color: #9b9b9b
}

.bold {
  font-weight: 600;
}

.superbold {
  font-weight: 700;
}

.superbig {
  font-size: 30px;
}

.big {
  font-size: 18px;
}

.medium {
  font-size: 14px;
}

.small {
  font-size: 12px;
}

tr:hover, .nav-buttons > *:hover, button:hover, .middle-player svg:hover, .right-player svg:hover, .Moodify svg:hover, .logout:hover {
  cursor: pointer;
}
